.bg-chat{
    filter: brightness(0.5);
    height: 830px;
}
.cunt00{
    height: 690px;
     width: 1000px;
}
.cunt11{
    height: 690px;
    width: 24%;
  }
.cunt22{
    height: 100%;
     width: 79%;
  }
 .chat-box{
    height: 560px;
 }
 .msg-box{
    width: 90%;
 }